/* BlogPostPreview.module.css */

.blogContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.blogPost {
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
}

.blogPost h2 {
  color: #333;
}

.blogPost p {
  color: #666;
}

/* Specific styles for each section */
.importance {
  background-color: #eaf6ff;
}

.technologies {
  background-color: #fff5e6;
}

.frameworks {
  background-color: #e6f7ec;
}

.responsiveDesign {
  background-color: #fdf2e9;
}
/* blog.module.css */

.likeButton,
.dislikeButton {
  padding: 8px 16px;
  background-color: #e8121d60;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.likeButton:hover,
.dislikeButton:hover {
  background-color: #0056b3;
}

/* Add more styles as needed */
