/* globals.css */

/* Default body styles */
body {
  font-family: 'Montserrat', sans-serif; /* Choose your preferred font family */
  background-color: rgb(82, 93, 175); /* Set the background color */
  color: #e2d3d3; /* Set the text color */
}

/* Additional background and color styles */
body.alt-bg {
  background-color: #f4f4f4; /* Alternate background color */
  color: #222; /* Alternate text color */
}

/* Additional font styling for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif; /* Stylish font for headings */
  /* Add additional styling as needed */
}
.container {
  position: relative;
}
